# Warning: You MUST convert Unity to using Metafiles and ForceText *before* you start using this
#  .gitignore file, or you WILL lose data!
#

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

tp*/src/Temp/
tp*/src/obj/
*.svd

!tp*/src/Library/*.asset
!tp*/src/Library/AssetImportState
!tp*/src/Library/AssetVersioning.db
!tp*/src/Library/BuildPlayer.prefs
!tp*/src/Library/ScriptMapper
!tp*/src/Library/AssetServerCacheV3
!tp*/src/Library/assetservercachev3
!tp*/src/Library/expandedItems
!tp*/src/Library/guidmapper
!tp*/src/Library/unity default resources
!tp*/src/Library/unity editor resources

tp*/src/Library/FailedAssetImports.txt
tp*/src/Library/AnnotationManager
tp*/src/Library/metadata
tp*/src/Library/ScriptAssemblies/
tp*/src/Library/assetDatabase3
tp*/src/Library/guidmapper
tp*/src/Library/InspectorExpandedItems.asset

tp*/src/Project.userprefs
tp*/src/Assembly-CSharp.csproj
tp*/src/Assembly-CSharp.pidb
tp*/src/Assembly-CSharp-Editor.csproj
tp*/src/Assembly-CSharp-Editor.pidb
tp*/src/Assembly-CSharp-Editor-vs.csproj
tp*/src/Assembly-CSharp-firstpass.csproj
tp*/src/Assembly-UnityScript-vs.unityproj
tp*/src/Assembly-UnityScript.unityproj
tp*/src/Assembly-CSharp-firstpass.pidb
tp*/src/Assembly-CSharp-firstpass-vs.csproj
tp*/src/Assembly-CSharp-vs.csproj
tp*/src/Assembly-UnityScript-firstpass.pidb
tp*/src/Assembly-UnityScript-firstpass.unityproj
tp*/src/Assembly-UnityScript-firstpass-vs.unityproj
tp*/src/Project.suo
tp*/src/src-csharp.sln
tp*/src/src.sln

tpfinal/Temp/
